* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background: url(../img/all-page-bg.jpg) repeat;
}
.container {
  max-width: 1340px;
  width: 100%;
  margin: 0 auto;
}
.header {
  background: url(../img/header-bg.png);
  width: 100%;
  background-size: cover;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.header__list {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  width: 100%;
}
.header__navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 40px;
}
.header-list__link {
  font-family: Roboto;
  font-size: 16px;
  color: #fff;
}
.header__btn {
  color: #fff;
  font-family: Roboto;
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
  border-radius: 50px;
  padding: 10px 30px;
}
.header__title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 64px;
  color: #ffffff;
  margin-top: 190px;
  max-width: 920px;
}
.header__timer {
  margin-top: 50px;
  display: flex;
  max-width: 500px;
  padding-bottom: 140px;
  width: 100%;
  justify-content: space-between;
}
.timer-box {
  max-width: 107px;
  background: #121212;
  padding: 20px 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.timer-box__digit {
  font-family: Roboto;
  font-weight: bold;
  font-size: 36px;
  color: #ffffff;
}
.timer-box__time {
  font-family: Roboto;
  color: #ffffff;
  opacity: 0.4;
  font-size: 16px;
}
@media (max-width: 1380px) {
  .container {
    max-width: 1000px;
  }
}
@media (max-width: 1120px) {
  .header__list {
    max-width: 540px;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 700px;
  }
  .header__title {
    font-size: 48px;
  }
  .header__timer {
    padding-bottom: 60px;
  }
}

@media (max-width: 850px) {
  .header__list {
    display: none;
  }
  .header__title {
    margin-top: 60px;
  }
}

@media (max-width: 750px) {
  .container {
    max-width: 500px;
  }
  .header__title {
    font-size: 34px;
  }
  .timer-box__time {
    font-size: 12px;
  }
  .timer-box__digit {
    font-size: 28px;
  }
  .header__timer {
    max-width: 340px;
  }
  .timer-box {
    max-width: 77px;
  }
}
@media (max-width: 530px) {
  .container {
    max-width: 300px;
  }
  .timer-box {
    max-width: 68px;
  }
  .timer-box__digit {
    font-size: 18px;
  }
  .header__title {
    font-size: 26px;
  }
}
.about-course-bg {
  background: #121212;
}
.about-course__btn {
  padding: 10px 30px;
  background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
  border-radius: 50px;
  color: #fff;
  display: inline-block;
  margin: 43px 0;
}
.about-course {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-course__students {
  max-width: 250px;
  width: 100%;
}
.all-students {
  display: flex;
  justify-content: space-between;
}
.course-ended-students {
  display: flex;
  justify-content: space-between;
}
.students-text {
  font-family: Roboto;
  font-size: 16px;
  color: #ffffff;
  opacity: 0.4;
}
.students-digit {
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
}
.line {
  height: 6px;
  background: #fff;
  position: relative;
}
.line::after {
  content: "";
  position: absolute;
  height: 6px;
  width: 40%;
  background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
}
.about-course__progress {
  max-width: 714px;
  width: 100%;
}
.progress-numbers {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1380px) {
  .about-course__progress {
    max-width: 400px;
  }
}
@media (max-width: 1024px) {
  .about-course__students {
    max-width: 174px;
  }
  .students-text {
    font-size: 12px;
  }
  .students-digit {
    font-size: 12px;
  }
  .about-course__progress {
    max-width: 200px;
  }
  .about-course__btn {
    margin: 30px 0 30px 0;
  }
}

@media (max-width: 750px) {
  .about-course {
    flex-direction: column;
  }
  .about-course__btn {
    margin: 20px 0 10px 0;
  }
  .about-course__students {
    margin: 10px 0;
  }
  .about-course__progress {
    max-width: 500px;
    padding-bottom: 20px;
  }
}
.about-lessons {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}
.lesson-content__title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 48px;
  color: #ffffff;
}
.lesson-content__description {
  font-family: Roboto;
  font-size: 16px;
  color: #ffffff;
  margin-top: 20px;
}
.lesson-content {
  max-width: 600px;
  margin: 120px 0px;
}
@media (max-width: 1380px) {
  .lesson-content {
    max-width: 300px;
    margin: 30px 0;
  }
}
@media (max-width: 1024px) {
  .about-lessons {
    flex-direction: column;
    align-items: center;
  }
  .lesson-content {
    max-width: 100%;
  }
  .about-lessons {
    margin-top: 50px;
  }
}
.pc-img {
  width: 100%;
}
.fast-start__title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 48px;
  color: #ffffff;
  margin-left: 30px;
}
.fast-start {
  margin-top: 40px;
}
.fast-start__titleBlock {
  display: flex;
}
.fast-start__subtitle {
  font-family: Roboto;
  font-size: 16px;
  color: #fff;
  opacity: 0.5;
  margin-top: 15px;
}
.percent {
  font-family: Roboto;
  font-weight: bold;
  font-size: 36px;
  color: #ffffff;
}

.result__percentLine {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.result__blockLine {
  display: flex;
  align-items: center;
}

.result__block {
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
  height: 80px;
  width: 100%;
}
.result__block-for75 {
  background: linear-gradient(94.26deg, #7c6afa 9.51%, #c89afc 90.23%);
  height: 60px;
}
.result__block-for50 {
  height: 30px;
}
.result__block-forRes {
  background: linear-gradient(94.26deg, #7c6afa 9.51%, #c89afc 90.23%);
  height: 10px;
}
@media (max-width: 530px) {
  .percent {
    font-size: 16px;
  }
  .fast-start__title {
    font-size: 24px;
  }
}
.result__descriptionLine {
  display: flex;
}
.result__description {
  font-family: Roboto;
  font-size: 14px;
  color: #ffffff;
  opacity: 0.5;
  margin: 10px 10px 0 10px;
}
@media (max-width: 530px) {
  .result__description {
    font-size: 10px;
  }
}

.profession-section {
  margin-top: 120px;
}
.profession-box {
  margin-top: 120;
  display: flex;
  align-content: center;
  margin-top: 60px;
}
.profession-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  margin-left: 20px;
}
.profession-title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 48px;
  text-align: center;
  color: #fff;
}

.profession-block__des {
  font-family: Roboto;
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
  color: #fff;
  margin-top: 40;
}
.profession-block__title {
  font-family: Roboto;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  color: #ffffff;
  margin-top: 40;
  margin-top: 20px;
}
@media (max-width: 750px) {
  .profession-box {
    flex-direction: column;
  }
  .prof-image {
    margin-top: 30px;
  }
}
@media (max-width: 530px) {
  .profession-title {
    font-size: 35px;
  }
}

.training-program-section {
  margin-top: 100px;
}
.training-program {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.training-program-stroke {
  transform: rotate(180deg);
}
.training-program__title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 48px;
  color: #ffffff;
  margin-top: 15px;
}
.training-program__description {
  font-family: Roboto;
  font-size: 16px;
  color: #ffffff;
  opacity: 0.5;
  margin-top: 10px;
}
.training-program-middle-line {
  margin-top: 30px;
  width: 6px;
  height: 677px;
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
}
.training-week {
  font-family: Roboto;
  font-size: 14px;
  text-align: right;
  color: #ffffff;
  opacity: 0.5;
}
.training-week__description {
  font-family: Roboto;
  font-size: 18px;
  color: #ffffff;
}
.training-program__about {
  display: flex;
}
.week-block-left {
  text-align: right;
  margin-right: 40px;
  position: relative;
}
.week-block-left::before {
  content: "";
  width: 40px;
  height: 2px;
  position: absolute;
  top: 24px;
  right: -40px;
  background: #fff;
}

.week-block-right {
  margin-left: 40px;
  position: relative;
}
.week-block-right::before {
  content: "";
  width: 40px;
  height: 2px;
  position: absolute;
  top: 20px;
  left: -40px;
  background: #fff;
}
.tutor__title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 48px;
  color: #ffffff;
  margin-left: 30px;
}
.program-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.tutor__name {
  font-family: Roboto;
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
  margin-top: 20px;
}
.tutor__proffesion {
  font-family: Roboto;
  font-size: 16px;
  color: #ffffff;
  opacity: 0.8;
  margin-top: 10px;
}

.tutor__btn {
  font-family: Roboto;
  font-size: 16px;
  color: #ffffff;
  padding: 10px 30px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 50px;
  display: inline-block;
  margin-top: 15px;
  transition: 800ms;
}
.tutor__btn:hover {
  background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
  border: 1px solid transparent;
}
.tutor-title-block {
  display: flex;
  margin-top: 60px;
}
.tutor-box {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.tutor-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .tutor-box {
    flex-direction: column;
  }
  .tutor__img {
    margin-top: 20px;
  }
  .tutor__title {
    font-size: 38px;
  }
}
@media (max-width: 750px) {
  .tutor__title {
    font-size: 28px;
  }
}
@media (max-width: 530px) {
  .tutor__title {
    font-size: 16px;
    margin-top: 14px;
  }
}
.subscribe {
  display: flex;
  margin-top: 40px;
}
.subscribe__title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 48px;
  text-align: center;
  color: #ffffff;
}
.subscribe__subtitle {
  font-family: Roboto;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  opacity: 0.5;
}
.subscribe__btn {
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 30px;
  color: #ffffff;
  background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
  border-radius: 50px;
  margin-left: -32px;
  z-index: 1;
  cursor: pointer;
  border: none;
  outline: none;
}
.subscribe__input {
  color: black;
  background: white;
  opacity: 0.8;
  border-radius: 50px 0px 0px 50px;
  outline: none;
  font-weight: bold;
  text-indent: 20px;
  width: 100%;
  max-width: 400px;
  padding: 12px;
}
.subscribe__form {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
::placeholder {
  font-family: Roboto;
  font-weight: bold;
  color: #000;
}
.fa-facebook-f,
.fa-twitter,
.fa-youtube,
.fa-instagram,
.fa-linkedin-in {
  font-size: 30px;
  z-index: 1000;
  color: #fff;
}
.social-media-section {
  margin-top: 50px;
}
.social-media__list {
  display: flex;
  justify-content: center;
  position: relative;
}
.social-media__item {
  position: relative;
  width: 60px;
  height: 60px;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-media__item span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
  background: #333;
  color: rgba(255, 255, 255, 0.2);
  font-size: 30px !important;
  transition: 500ms;
}

.social-media__item:hover span:nth-child(1) {
  transform: translate(40px, -40px);
  opacity: 1;
  z-index: 1000;
}
.social-media__item:hover span:nth-child(2) {
  transform: translate(30px, -30px);
  opacity: 0.8;
  z-index: 900;
}
.social-media__item:hover span:nth-child(3) {
  transform: translate(20px, -20px);
  opacity: 0.6;
  z-index: 800;
}
.social-media__item:hover span:nth-child(4) {
  transform: translate(10px, -10px);
  opacity: 0.4;
  z-index: 700;
}
.social-media__item:hover span:nth-child(5) {
  transform: translate(0, 0);
  opacity: 0.2;
  z-index: 600;
}
.social-media__item:nth-child(1):hover span {
  background: #3b5999;
}
.social-media__item:nth-child(2):hover span {
  background: #55acee;
}
.social-media__item:nth-child(3):hover span {
  background: red;
}
.social-media__item:nth-child(4):hover span {
  background: #e4405f;
}
.social-media__item:nth-child(5):hover span {
  background: #0077b5;
}
@media (max-width: 530px) {
  .social-media__item {
    width: 30px;
    height: 30px;
  }
  .fa-facebook-f,
  .fa-twitter,
  .fa-youtube,
  .fa-instagram,
  .fa-linkedin-in {
    font-size: 16px;
  }
  .social-media__item:hover span:nth-child(1) {
    transform: translate(30px, -30px);
  }
  .social-media__item:hover span:nth-child(2) {
    transform: translate(20px, -20px);
  }
  .social-media__item:hover span:nth-child(3) {
    transform: translate(10px, -10px);
  }
  .social-media__item:hover span:nth-child(4) {
    transform: translate(5px, -5px);
  }
}
.social-media-section {
  margin-bottom: 50px;
}

.burger {
  display: none;
  margin-top: 0;
  position: relative;
  max-width: 30px;
  width: 100%;
  height: 21px;
}
.line-center {
  display: inline-block;
  height: 4px;
  background: #fff;
  width: 30px;
  border-radius: 5px;
}
.line-center::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 30px;
  height: 4px;
  border-radius: 5px;
  background: #fff;
}
.line-center::after {
  content: "";
  position: absolute;
  bottom: 11px;
  left: 0;
  width: 30px;
  height: 4px;
  border-radius: 5px;
  background: #fff;
}
.menu__list {
  visibility: collapse;
  position: absolute;
  z-index: 1;
  padding: 12px 16px;
  transition: 2s;
  top: 25px;
  right: -55px;
  background-color: #c89afc;
  opacity: 1;
  border-radius: 9px;
  transition: 500ms;
}
.burger:hover .menu__list {
  visibility: visible;
}

@media (max-width: 850px) {
  .burger {
    display: flex;
    right: 10px;
  }
}
@media (max-width: 530px) {
  .burger {
    display: flex;
  }
  .menu__list {
    padding: 6px;
    right: -18px;
    margin-top: 12px;
  }
  .header__title {
    margin-top: 125px;
  }
}
