* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url(../img/all-page-bg.jpg) repeat;
}
.container {
  max-width: 1340px;
  width: 100%;
  margin: 0 auto;
}
.header {
  background: url(../img/header-bg.png);
  width: 100%;
  background-size: cover;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.header__list {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  width: 100%;
}
.header__navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 40px;
}
.header-list__link {
  font-family: Roboto;
  font-size: 16px;
  color: #fff;
}
.header__btn {
  color: #fff;
  font-family: Roboto;
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
  border-radius: 50px;
  padding: 10px 30px;
}
.header__title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 64px;
  color: #ffffff;
  margin-top: 190px;
  max-width: 920px;
}
.header__timer {
  margin-top: 50px;
  display: flex;
  max-width: 500px;
  padding-bottom: 140px;
  width: 100%;
  justify-content: space-between;
}
.timer-box {
  max-width: 107px;
  background: #121212;
  padding: 20px 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.timer-box__digit {
  font-family: Roboto;
  font-weight: bold;
  font-size: 36px;
  color: #ffffff;
}
.timer-box__time {
  font-family: Roboto;
  color: #ffffff;
  opacity: 0.4;
  font-size: 16px;
}
@media (max-width: 1380px) {
  .container {
    max-width: 1000px;
  }
}
@media (max-width: 1120px) {
  .header__list {
    max-width: 540px;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 700px;
  }
  .header__title {
    font-size: 48px;
  }
  .header__timer {
    padding-bottom: 60px;
  }
}

@media (max-width: 850px) {
  .header__list {
    display: none;
  }
  .header__title {
    margin-top: 60px;
  }
}

@media (max-width: 750px) {
  .container {
    max-width: 500px;
  }
  .header__title {
    font-size: 34px;
  }
  .timer-box__time {
    font-size: 12px;
  }
  .timer-box__digit {
    font-size: 28px;
  }
  .header__timer {
    max-width: 340px;
  }
  .timer-box {
    max-width: 77px;
  }
}
@media (max-width: 530px) {
  .container {
    max-width: 300px;
  }
  .timer-box {
    max-width: 68px;
  }
  .timer-box__digit {
    font-size: 18px;
  }
  .header__title {
    font-size: 26px;
  }
}
.about-course-bg {
  background: #121212;
}
.about-course__btn {
  padding: 10px 30px;
  background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
  border-radius: 50px;
  color: #fff;
  display: inline-block;
  margin: 43px 0;
}
.about-course {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-course__students {
  max-width: 250px;
  width: 100%;
}
.all-students {
  display: flex;
  justify-content: space-between;
}
.course-ended-students {
  display: flex;
  justify-content: space-between;
}
.students-text {
  font-family: Roboto;
  font-size: 16px;
  color: #ffffff;
  opacity: 0.4;
}
.students-digit {
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
}
.line {
  height: 6px;
  background: #fff;
  position: relative;
}
.line::after {
  content: "";
  position: absolute;
  height: 6px;
  width: 40%;
  background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
}
.about-course__progress {
  max-width: 714px;
  width: 100%;
}
.progress-numbers {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1380px) {
  .about-course__progress {
    max-width: 400px;
  }
}
@media (max-width: 1024px) {
  .about-course__students {
    max-width: 174px;
  }
  .students-text {
    font-size: 12px;
  }
  .students-digit {
    font-size: 12px;
  }
  .about-course__progress {
    max-width: 200px;
  }
  .about-course__btn {
    margin: 30px 0 30px 0;
  }
}

@media (max-width: 750px) {
  .about-course {
    flex-direction: column;
  }
  .about-course__btn {
    margin: 20px 0 10px 0;
  }
  .about-course__students {
    margin: 10px 0;
  }
  .about-course__progress {
    max-width: 500px;
    padding-bottom: 20px;
  }
}
.about-lessons {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}
.lesson-content__title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 48px;
  color: #ffffff;
}
.lesson-content__description {
  font-family: Roboto;
  font-size: 16px;
  color: #ffffff;
  margin-top: 20px;
}
.lesson-content {
  max-width: 600px;
  margin: 120px 0px;
}
@media (max-width: 1380px) {
  .lesson-content {
    max-width: 300px;
    margin: 30px 0;
  }
}
@media (max-width: 1024px) {
  .about-lessons{
    flex-direction: column;
    align-items: center;
  }
  .lesson-content{
    max-width: 100%;
  }
  .about-lessons{
    margin-top: 50px;
  }
}
.pc-img{
  width: 100%;
}